## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:

# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import ipywidgets as widgets

# Import API key
from Config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Hardy,CA,50.6996,-127.4199,41.00,93,75,5.75,broken clouds
1,1,Tuktoyaktuk,CA,69.4541,-133.0374,-27.40,68,20,4.61,few clouds
2,2,The Valley,AI,18.2170,-63.0578,84.06,61,20,17.27,few clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,46.02,70,20,18.41,few clouds
4,4,Egvekinot,RU,66.3167,-179.1667,-11.83,87,15,19.19,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:

# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,The Valley,AI,18.2170,-63.0578,84.06,61,20,17.27,few clouds
13,13,Puerto Leguizamo,CO,-0.1934,-74.7819,82.09,71,95,2.30,overcast clouds
16,16,Faanui,PF,-16.4833,-151.7500,81.36,76,11,9.31,few clouds
22,22,Ippy,CF,6.2679,21.2247,77.74,62,100,2.98,light rain
24,24,Ugoofaaru,MV,5.6667,73.0000,83.43,69,6,3.71,clear sky
...,...,...,...,...,...,...,...,...,...,...
680,680,Junin,AR,-34.5838,-60.9433,75.72,38,68,12.75,broken clouds
685,685,Kismayo,SO,-0.3582,42.5454,81.18,80,96,16.08,overcast clouds
686,686,Tiarei,PF,-17.5333,-149.3333,78.82,78,23,8.72,light rain
694,694,Tipuani,BO,-15.5648,-68.0185,87.94,47,36,2.24,scattered clouds
696,696,Labuan,MY,5.2767,115.2417,79.16,88,20,0.00,few clouds

In [5]:
# 4a. Determine if there are any empty rows.

clean_df.notnull().sum()

City_ID                213
City                   213
Country                213
Lat                    213
Lng                    213
Max Temp               213
Humidity               213
Cloudiness             213
Wind Speed             213
Current Description    213
dtype: int64

In [6]:
clean_df.count()

City_ID                213
City                   213
Country                213
Lat                    213
Lng                    213
Max Temp               213
Humidity               213
Cloudiness             213
Wind Speed             213
Current Description    213
dtype: int64

In [7]:
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty row
clean_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,The Valley,AI,18.2170,-63.0578,84.06,61,20,17.27,few clouds
13,13,Puerto Leguizamo,CO,-0.1934,-74.7819,82.09,71,95,2.30,overcast clouds
16,16,Faanui,PF,-16.4833,-151.7500,81.36,76,11,9.31,few clouds
22,22,Ippy,CF,6.2679,21.2247,77.74,62,100,2.98,light rain
24,24,Ugoofaaru,MV,5.6667,73.0000,83.43,69,6,3.71,clear sky
...,...,...,...,...,...,...,...,...,...,...
680,680,Junin,AR,-34.5838,-60.9433,75.72,38,68,12.75,broken clouds
685,685,Kismayo,SO,-0.3582,42.5454,81.18,80,96,16.08,overcast clouds
686,686,Tiarei,PF,-17.5333,-149.3333,78.82,78,23,8.72,light rain
694,694,Tipuani,BO,-15.5648,-68.0185,87.94,47,36,2.24,scattered clouds
696,696,Labuan,MY,5.2767,115.2417,79.16,88,20,0.00,few clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,The Valley,AI,84.06,few clouds,18.2170,-63.0578,
13,Puerto Leguizamo,CO,82.09,overcast clouds,-0.1934,-74.7819,
16,Faanui,PF,81.36,few clouds,-16.4833,-151.7500,
22,Ippy,CF,77.74,light rain,6.2679,21.2247,
24,Ugoofaaru,MV,83.43,clear sky,5.6667,73.0000,
35,Itarema,BR,82.94,broken clouds,-2.9248,-39.9167,
38,Atar,MR,89.55,clear sky,20.5169,-13.0499,
39,Puerto Ayora,EC,84.16,overcast clouds,-0.7393,-90.3518,
43,Cabo San Lucas,MX,79.61,clear sky,22.8909,-109.9124,
52,Aloleng,PH,79.59,overcast clouds,16.1307,119.7824,

In [10]:

len(clean_hotel_df)

213

In [11]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,The Valley,AI,84.06,few clouds,18.2170,-63.0578,
13,Puerto Leguizamo,CO,82.09,overcast clouds,-0.1934,-74.7819,
16,Faanui,PF,81.36,few clouds,-16.4833,-151.7500,
22,Ippy,CF,77.74,light rain,6.2679,21.2247,
24,Ugoofaaru,MV,83.43,clear sky,5.6667,73.0000,
...,...,...,...,...,...,...,...
680,Junin,AR,75.72,broken clouds,-34.5838,-60.9433,
685,Kismayo,SO,81.18,overcast clouds,-0.3582,42.5454,
686,Tiarei,PF,78.82,light rain,-17.5333,-149.3333,
694,Tipuani,BO,87.94,scattered clouds,-15.5648,-68.0185,
696,Labuan,MY,79.16,few clouds,5.2767,115.2417,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
# 6a. Set parameters to search for hotels with 5000 meters.
params = {"radius": 5000,
          "type": "lodging",
          "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
        # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']

    params['location'] = f"{lat},{lng}"

        # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

        # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except(IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,The Valley,AI,84.06,few clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
13,Puerto Leguizamo,CO,82.09,overcast clouds,-0.1934,-74.7819,la casona de juancho
16,Faanui,PF,81.36,few clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
24,Ugoofaaru,MV,83.43,clear sky,5.6667,73.0000,Ungoofaaru Inn
35,Itarema,BR,82.94,broken clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
...,...,...,...,...,...,...,...
675,Tagusao,PH,79.21,light rain,9.1924,117.8141,Green Villa beach resort
680,Junin,AR,75.72,broken clouds,-34.5838,-60.9433,Hotel Central
685,Kismayo,SO,81.18,overcast clouds,-0.3582,42.5454,Agan-Hotel
686,Tiarei,PF,78.82,light rain,-17.5333,-149.3333,Le Rocher de Tahiti
696,Labuan,MY,79.16,few clouds,5.2767,115.2417,Tiara Labuan Hotel

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label = "City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]


# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)



# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))